body {
  background-color: #f5e4e4;
  font-family: Moncerrat;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

/* header */

.header {
  height: 20vh;
  width: 100vw;
  background-image: url("/img/fondo.jpg");
  background-position:center;
  box-sizing: border-box;
  background-size: cover;
  display: flex;
}
.header__overlay {
  height: 20vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #001c37cc;
  position: absolute;
}

.header__item-container {
  text-align: center;
  position: relative;
  margin:auto;
  z-index: 2;
}

.header__item-container  {
  text-wrap: pretty;
}

.header__img {
  text-align: center;
  border-radius: 100%;
  border: 6px solid rgb(255, 255, 255);
  margin: 30px;
  position: relative;
  top: 0vh;
  z-index: 1;
}

h1 {
  margin: 0;
  font-size: 30px;
  text-wrap: balance;
}

/* nvar section */

.nav {
  background-color: #ffff;
  color: #001c37cc;
  display: flex;
  justify-content: space-around;
}

.nav__ul {
  margin: 0;
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: #001c37cc;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
